

.sidebar {

    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(to right, #ffaf65 0%, #ffaf65 100%);
    overflow-y: scroll;


}

.topbar {
    background-image: linear-gradient(to right, #ffaf65 0%, #ffaf65 100%);
}

.topbarNavs {
    display: flex;
}

.navbarColor {
    background-image: linear-gradient(to right, #ffaf65 0%, #ffaf65 100%);
    height : 45px;

}

.iconBullet {
    color : #ffaf65;
}

