
/* @import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: 'Poppins', sans-serif;
} */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  font-family: 'Poppins', sans-serif;
   font-size : 100%;
}
